include CHANGELOG.md
include LICENCE
include README.md
global-include *.pyx
global-include *.pxd
global-include py.typed

recursive-exclude tests *
recursive-exclude usage *
recursive-exclude tools *

